name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{secrets.SSH_HOST}}
          username: ec2-user
          key: ${{secrets.SSH_PRIVATE_KEY}}
          script: |
            cd /home/ec2-user/projects/bank
            git pull
            docker-compose up --build -d
